AZURE_AI_AGENT_PROJECT_CONNECTION_STRING=eastus.api.azureml.ms;f801edf9-e297-4187-a082-814bf0214ee6;azure-ai-agent-service;inframapper-agentic-ai
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME=gpt-4.1-mini
# AZURE_SUBSCRIPTION_ID=YOUR_AZURE_SUBSCRIPTION_ID (optional, if not provided, the agent will use the default subscription id)
